<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form (ngSubmit)="handleSave(profileForm.value)" [formGroup]="profileForm" autocomplete="off">
      <div [ngClass]="{'error': !validateFirstName()}" class="form-group">
        <label for="firstName">First Name:</label>
        <em *ngIf="validateMessage('firstName','required')">Required</em>
        <em *ngIf="validateMessage('firstName','pattern')">must start with letter</em>
        <input class="form-control" formControlName="firstName" id="firstName" placeholder="First Name..." type="text"/>
      </div>
      <div [ngClass]="{'error': !validateLastName()}" class="form-group">
        <label for="lastName">Last Name:</label>
        <em *ngIf="validateMessage('lastName','required')">Required</em>
        <em *ngIf="validateMessage('lastName','pattern')">must start with letter</em>
        <input class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name..." type="text"/>
      </div>
      <button [disabled]="profileForm.invalid" class="btn btn-primary" type="submit">Save</button>
      <button (click)="handleCancel()" class="btn btn-default" type="button">Cancel</button>
      <button type="button" class="btn btn-danger" style="float: right" (click)="handleSignout()">Sign Out</button>
    </form>
  </div>
</div>
