.pad-left {
  margin-left: 10px;
}

.well div {
  color: #cccbcb;
}

.well {
  display: block;
}

.thumbnail {
  min-height: 210px;
  border-radius: 20px;
}

.yellow {
  color: #d9ff00 !important;
}

.bold {
  font-weight: bold;
  font-size: x-large;
}
